@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~antd/dist/antd.css';

html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	display: grid;
	height: 100%;
	background-color: #f7f7f7;
}

#root {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.resize-handle {
	@apply border-r-4 border-b-4 border-t-0 border-l-0 border-gray-400 border-dotted;
	position: absolute;
	width: 14px;
	height: 14px;
	cursor: se-resize;
	bottom: 8px;
	right: 8px;
}
